body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.underline {
  transition: 0.1s ease-out;
  font-weight: bold !important;
  border-bottom: 3px solid orange !important;
}
